@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clw: theme(colors.white);
  --bdl: theme(borderRadius.lg);
  --sp6: theme(spacing.6);
  --bsx: theme(boxShadow.xl);

  --starColor: theme(colors.yellow.400);
}

@layer components {
  .card {
    background-color: var(--clw);
    border-radius: var(--bdl);
    padding: var(--sp6);
    box-shadow: var(--bsx);
  }

  .rating > span {
    color: var(--starColor);
  }
}

@layer base {
  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-xl;
  }
}

.msgerror {
  @apply m-auto mb-4 flex w-4/5 rounded-lg bg-red-100 p-4 text-sm text-red-700 sm:w-full;
}

.msghint {
  @apply m-auto mb-4 flex w-4/5 rounded-lg bg-blue-100 p-4 text-sm text-blue-600 sm:w-full;
}

#dropdowmStyle ul li {
  @apply block cursor-pointer py-2 px-4 text-sm text-gray-700 hover:bg-sky-900 hover:text-white dark:text-gray-200 dark:hover:bg-sky-900 dark:hover:text-white;
}

.checkbar > .usually {
  flex-grow: 1;
  border-bottom: 0.3rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkbar > .active {
  flex-grow: 1;
  border-bottom: 0.3rem solid rgb(12 74 110);
  color: rgb(12 74 110);
}
// ////////////////////////

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  // background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
