@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clw: theme(colors.white);
  --bdl: theme(borderRadius.lg);
  --sp6: theme(spacing.6);
  --bsx: theme(boxShadow.xl);

  --starColor: theme(colors.yellow.400);
}

@layer components {
  .card {
    background-color: var(--clw);
    border-radius: var(--bdl);
    padding: var(--sp6);
    box-shadow: var(--bsx);
  }

  .rating>span {
    color: var(--starColor);
  }
}

@layer base {
  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-xl;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}